.button {
	padding: 5px 20px;
	font-weight: 500;
	font-family: 'Fira Sans', Arial, sans-serif;
	color: #230d1a;
	font-style: normal;
	background-color: #f0eed5;
	border: 3px solid #ff9749;
	border-radius: 15px;
}

.button:disabled {
	color: gray;
	border: 4px solid #ffc396;
}

.button:hover {
	color: #ff9749;
}
