.result__total {
	width: 500px;
	margin: 130px 0 0;
	font-weight: 400;
	font-size: 30px;
	font-family: 'Fira Sans', Arial, sans-serif;
	text-align: center;
	color: #230d1a;
	font-style: italic;
}

.result__total--fail {
	margin-top: 170px;
}
